<!DOCTYPE>
    <html lang="en">
        <head>
            <meta charset="utf-8">
            <title>Backbone Demo</title>
            <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
        </head>
        <body>
            <div class="container">
                <h2>Just a Note</h2>
                <hr/>
                <div class="page">
                    
                </div>
            </div>
            <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js" type="text/javascript"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js"></script>
            
            <script type="text/template" id="notes-list-template">
                <a href="#new" class="btn btn-primary">New</a>
                <hr />
                <table class="table striped">
                    <thead>
                        <tr>
                          <th>Notes</th><th>Tags</th><th>Created Date</th><th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% _.each(notes, function(note) { %>
                            <tr>
                                <td><%= htmlEncode(note.get('note')) %></td>
                                <td><%= htmlEncode(note.get('tags')) %></td>
                                <td><%= htmlEncode(note.get('date')) %></td>
                                <td><a class="btn" href="#/edit/<%= note._id %>">Edit</a></td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </script>
            
            <script type="text/template" id="new-notes-template">
                <form class="new-notes-form">
                    <legend>New Notes</legend>
                        <label>Notes</label>
                        <input name="note" type="text" />
                        <label>Tags</label>
                        <input name="tags" type="text"/>
                        <hr />
                        <button type="submit" class="btn">Create Note</button>
                </form>
            </script>

            <script>
                function htmlEncode(value){
                    return $('<div/>').text(value).html();
                }
                
                $.fn.serializeObject = function() {
                    var o = {};
                    var a = this.serializeArray();
                    $.each(a, function() {
                        if (o[this.name] !== undefined) {
                            if (!o[this.name].push) {
                                o[this.name] = [o[this.name]];
                            }
                            o[this.name].push(this.value || '');
                        } else {
                            o[this.name] = this.value || '';
                        }
                    });
                    return o;
                };
                
                //Controllers
                var Notes = Backbone.Collection.extend({
                    url: '/notes'
                });
                
                //Models
                var Note = Backbone.Model.extend({
                    urlRoot: '/notes'
                });
                
                //Views
                var NotesListView = Backbone.View.extend({
                    el: '.page',
                    render: function () {
                        var that = this;
                        var notes = new Notes();
                        notes.fetch({
                        success: function (notes) {
                            var template = _.template($('#notes-list-template').html(), {notes: notes.models});
                            that.$el.html(template);
                        }
                      })
                    }
                });
                
                var notesListView = new NotesListView;
                
                var NotesAddView = Backbone.View.extend({
                    el : '.page',
                    events: {
                         'submit .new-notes-form': 'saveNotes',
                    },
                   saveNotes: function (ev) {
                        var noteDetails = $(ev.currentTarget).serializeObject();
                        var note = new Note();
                        note.save(noteDetails, {
                            success: function (note) {
                                router.navigate('', {trigger:true});
                            }
                        });
                        return false;
                    },
                   render: function(){
                        var template = _.template($('#new-notes-template').html(), {note: null});
                        this.$el.html(template);
                   }
     
                });
                
                var notesAddView = new NotesAddView;
                //Routers
                var Router = Backbone.Router.extend({
                   routes : {
                        '' : 'home',
                        'new' : 'add'
                   }
                });
                
                var router = new Router;
                router.on('route:home', function(){
                    notesListView.render();    
                });
                router.on('route:add', function(){
                    notesAddView.render();
                });
                Backbone.history.start();
            </script>            
        </body>
    </html>